
.first-color { 
	background: #062925; 
}
	
.second-color { 
	background: #044a42; 
}

.third-color { 
	background: #3a9188; 
}

.fourth-color { 
	background: #9ea593; 
}

*{
	padding: 0px;
	margin: 0px;
	background-color:#b1b8a6 ;
	text-decoration: none;
	scroll-behavior: smooth;
}

.homepage{
	background-color:#b1b8a6 ;
	
}
.nav-tripleicon{

	height: 30px;
}


.nav{
	display: flex;
    justify-content: space-between;
	height: 15vh;
	padding-left: 50px;
	padding-top: 30px;
	padding-right: 50px;
	flex-wrap: nowrap;
	height: 10vh;
}
.sub-nav{
	display: flex;
	flex-direction: row;

}

.login-text{
	color: rgb(15, 33, 31);
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 100;
	font-size: 23px;
	margin-left: 20px;
}
.home-content{
	
	display: flex;
	flex-direction: row;
	justify-content: left;
	
	
}
.home-texts{
	padding-left: 15vw;
	padding-top: 12vh;
	
	
}

#sub-text-motto{
	color: #044a42;
	font-weight: 800;
	align-self: center;
	padding: 3px 10px;
	border-radius: 20px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 110;
	font-size: 19px;
	margin-top: 20px;
	margin-right: 20px;
}
.logo{
	width: 80px;
	height: 80px;
}

.home-photo{
	
	height: 82vh;
	padding-left: 40px;
	
}
#motto{
	color: #062925;
	font-weight: 800;
	align-self: center;
	padding: 3px 10px;
	border-radius: 20px;
	font-family: "Nanum Gothic", sans-serif;
	
	font-size: 25px;
}


.main-text{
	color:#062925;
	align-self: center;
	font-family: "Rubik", sans-serif;
	font-size: 130px;
	padding-right: 15px;
}

.home-subdiv{
display: flex;
align-items: center;


}
	

#started{
	color: white;
	margin-top: 30px;
	border: solid 1px #044a42;
	padding: 3px 12px;
	border-radius: 20px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 100;
	font-size: 21px;
	width: 125px;
	margin-left: 10px;
	background-color:#044a42 ;
	
	
}


#started:hover{
	background-color: rgb(33, 33, 33);
	color: white;
	transition: 1.8s;
}

#getstarted-div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#learnmore{
	color: #044a42;
	margin-top: 30px;
	border: solid 1px #044a42;
	padding: 3px 12px;
	border-radius: 21px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 50;
	font-size: 18px;
	width: 100px;
	margin-left: 10px;
	
}

#count{
	align-self: flex-start;
	font-size: 30px;
	padding: 50px 50px;
	color: #044a42;
	font-family: "Crimson Text", serif;
	font-weight: 120;
	float: right;
	margin-top: 30px;
     
}



.scroll-down {
	scale: 1.5;
	position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid  #062925;
	border-right: 2px solid  #062925 ;
	z-index: 9;
	left: 50%;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
	0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
	50%  { opacity: 1;  }
	100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
	0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
	50%  { opacity: 1;  }
	100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
	0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
	50%  { opacity: 1;  }
	100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }


  .get-started-page{
	height: 100vh;
	background-color: #b1b8a6;
	display: flex;
	margin-top: 80px;
	justify-content: space-between;
	width: 100%;
	

  }

  #app-photo{
	height: 95vh;
	padding-right: 15vw;
	padding-top: 40px;

  }

  #get-started-text{
	padding-top:  90px;
	
	color:#062925;
	align-self: center;
	font-family: "Rubik", sans-serif;
	margin-left: 10vw;
	font-size: 60px
  }

  .get-started-subtext{
	margin-left: 13vw;
	font-family: "Crimson Text", serif;
	font-size: 25px;
	padding-top: 10px;
  }

  .slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-left: 13vw;
	margin-top: 10px;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #062925;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #000000;
	cursor: pointer;
  }

  .slider-output{
	padding-left: 5px;
	font-family: "Heebo", sans-serif;;
	padding-top: 10px;
	font-size: 20px;
	padding-top: 5px;
  }

  .slider-text{
	margin-left: 13vw;
	font-family: "Heebo", sans-serif;
	font-weight: 300;
	padding-top: 5px;
	font-size: 20px;
  }

  .slider-sub-div{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
  }

  #plants{
	margin-left: 10px;
	font-family: "Heebo", sans-serif;;
	padding: 10px;
	font-size: 15px;
	
  }

  #find-button{
	color: white;
	margin-top: 50px;
	border: solid 1px #000000;
	padding: 7px 12px;
	border-radius: 20px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 100;
	font-size: 19px;
	width: 280px;
	margin-left: 10px;
	background-color:#044a42 ;
	margin-left: 13vw;
  }

  #main-portal{
	overflow: hidden;
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: space-between;
	flex-wrap: nowrap;
  }

  .side-bar{
	background-color: #1c1b1b;
	width: 20vw;
	height: 100vh;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: column;
	
  }

  .logo-portal{
	width: 55px;
	height: 55px;
	background-color: #1c1b1b ;
	padding: 30px 0px;
	padding-right: 3px;
	align-self: center;
  }

  .sidebar-text{
	background-color: #1c1b1b;
	font-family: "Rubik", sans-serif;
	padding: 5px 10px;
	color: white;
	font-weight: 100;
	font-size: 22px;
	
  }

  .background-link{
	background-color: #1c1b1b;
  }

  #sidebar-logo-holder{
	padding-top: 20px;
	
  }

  .sidebar-innerdiv{
	display: flex;
	background-color: #1c1b1b;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 15px;
	padding-left: 40px;
  }

  .sidebar-logo{
	background-color: #1c1b1b;
	height: 34px;
	width: 34px;
	padding-right: 5px;
	
  }

  .sidebar-logo-text{
	background-color: #1c1b1b;
	color: white;
	font-family: "Rubik", sans-serif;
	padding: 50px 0px;
	font-family: "Rubik", sans-serif;
	font-size: 45px;
	padding-top: 55px;
	padding-left: 5px;
	

  }

  .portal-main-text{
	color:#062925;
	align-self: center;
	font-family: "Rubik", sans-serif;
	font-size: 60px;
	margin-top: 50px;
	
	padding-bottom: 30px;
}

.portal-image{
	height: 290px;
	width: 300px;
	padding-left: 0px;
	background-color: #818877;
	border: 1px solid white;
	margin: 10px;
	
}

.portal-sub{
	display: flex;
	flex-direction: row;
justify-content: space-between;
	height: 80vh;
}

.portal-sub-text{
	font-family: "Crimson Text", serif;
	
	color: #062925;
	font-weight: 100;
	font-size: 25px;
	
	margin-left: 20px;
	
}

.portal{
	
}

#container{
	height: 400px;
	width: 800px;
	
	margin-left: 30px;
	padding: 5px;
	border: solid 1px black;
	margin-top: 20px;
}


/* 
#line_top_x{
	color: #bdc6af;
	
} */


.image-sub-div{
	display: flex;

	flex-direction: column;
	
	height: 100vh;
	background-color: #062925;
	
}

.portal-text-holder{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	
	
	padding: 40px;
	background-color:  #062925;

	
	
	
}

.portal-image-text{
	font-size: 22px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 200;
	background-color:  #062925;
	color: white;
	padding: 8px 5px;
	

}

#plant-name{
	background-color: #6e7662;
	padding-left: 20px;
	font-weight: 400;
}


.login-page{
	height: 100vh;
	background-color: #b1b8a6;
	display: flex;
	
	justify-content: space-between;
	width: 100%;
	

  }

  .login-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
  }

  .login-page-div{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70vw;
  }

  
.main-text-login{
	color:#062925;
	
	font-family: "Rubik", sans-serif;
	font-size: 85px;
	
	padding-top: 40px;
}

#login-biruwa{
	display: flex;
	flex-direction: row;
	
	flex-wrap: nowrap;
	
	justify-content: flex-start;
	margin-top: 12vh;
	
}

.logo-login{
	height: 100px;
	width: 100px;
	padding-top: 40px;
	padding-left: 5px;

}

#login-text{
	color:#044a42;
	
	font-family:"Roboto Condensed", sans-serif ;
	
	font-weight: 400;
	font-size: 22px;
	margin-right: 60px;
}

.login-box{
	padding: 35px;
	align-self: flex-start;
	margin-top: 5vh;
	margin-left: 17vw;
	/* border: 1px solid rgb(0, 0, 0); */
	background-color: #9ea593;
	border-radius: 10px;
}

.input-area{
	background-color: white;
	width: 20vw;
	height: 5vh;
	padding: 5px;
	
	border-radius: 5px;
}

.gap-div{
	padding-bottom: 10px;
	background-color: #9ea593;
}


.login-button{
	background-color: #062925;
	width: 21vw;
	height: 5vh;
	padding: 10px;
	margin-bottom: 10px;
	align-self: center;
	font-family:"Roboto Condensed", sans-serif  ;
	font-weight: 200;
	font-size: 18px;
	color: white;
	padding-bottom: 18px;
	border-radius: 5px;
	margin-top: 10px;

}

input[type="email"]::placeholder {
             
	/* Firefox, Chrome, Opera */
	text-align: center;
	font-family:"Roboto Condensed", sans-serif  ;
	font-weight: 300;
	font-size: 20px;
}

input[type="password"]::placeholder {
             
	/* Firefox, Chrome, Opera */
	text-align: center;
	font-family:"Roboto Condensed", sans-serif  ;
	font-weight: 300;
	font-size: 20px;
}

.forgot-password{
	font-family:"Roboto Condensed", sans-serif  ;
	font-weight: 200;
	font-size: 10px;
	text-align: center;
	color: #062925;
	padding-top: 15px;
	background-color: #9ea593;



}
#back-temp{
	background-color: #9ea593;
}

.line{
	border: 1px solid ;
	margin-top: 20px;
}

.create-button{
	background-color: #044a42;
	width: 15vw;
	height: 5vh;
	padding: 10px;
	margin-bottom: 10px;
	align-self: center;
	font-family:"Roboto Condensed", sans-serif  ;
	font-weight: 200;
	font-size: 18px;
	color: white;
	padding-bottom: 15px;
	margin-top: 20px;
	border-radius: 5px;
}